@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

.header {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
	&__body {
		height: 80px;
		display: flex;
		align-items: center;
		@include sm-block {
			height: 50px;
		}
	}
	&__logo {
		@include sm-block {
			max-width: 80px;
		}
	}
}

// Banner
.banner {
	background: url("../img/banner-bg.jpg") 0 0 no-repeat;
	background-size: cover;
	background-position: center center;
	@include lg-block {
		background-position: 22%;
	}
	@include md-block {
		background-position: 22%;
	}
	@include sm-block {
		background-size: auto;
	}
	&__body {
		color: #fff;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 130px 0;
		@include sm-block {
			text-align: center;
			min-height: auto;
			padding: 65px 0 60px;
		}
	}
	&__title {
		margin-bottom: 22px;
		font-size: 48px;
		font-weight: 700;
		line-height: 48px;
		@include md-block {
			font-size: 36px;
		}
		span {
			@include sm-block {
				display: block;
			}
		}
		@include sm-block {
			margin-bottom: 30px;
		}
	}
	&__subtitle {
		margin-bottom: 33px;
		font-size: 24px;
		max-width: 600px;
		line-height: 1.4em;
		@include md-block {
			font-size: 16px;
		}
		@include sm-block {
			margin: 0 auto;
			margin-bottom: 30px;
		}
	}
	&__btn {
		margin-bottom: 50px;
		@include sm-block {
			margin-bottom: 35px;
		}
	}
}

// Steps
.steps {
	padding-top: 85px;
	padding-bottom: 79px;
	@include lg-block {
		padding: 70px 0;
	}
	@include md-block {
		padding: 50px 0;
	}
	&__title {
		margin-bottom: 55px;
		color: #000000;
		text-align: center;
	}
	&__body {
		flex-wrap: nowrap;
		margin-bottom: 65px;
		@include lg-block {
			flex-wrap: wrap;
			justify-content: center;
		}
		@include md-block {
			margin-bottom: 36px;
		}
	}
	&__btn {
		text-align: center;
	}
}
.steps-column {
	@include size(5);
	@include lg-block {
		@include size(10);
		margin-bottom: 26px;
	}
	@include md-block {
		@include size(12);
	}
	@include sm-block {
		@include size(12);
	}
}
.step {
	margin-bottom: 35px;
	overflow: hidden;
	position: relative;
	background: linear-gradient(103.09deg, #fafafa 3.35%, #fbfbfb 98.57%);
	box-shadow: 10px 12px 9.40171px rgba(150, 182, 255, 0.2);
	border-radius: 8px;
	padding: 30px 44px 30px 0;
	display: flex;
	&:last-child {
		margin-bottom: 0;
	}
	@include lg-block {
		max-width: 100%;
	}

	@include sm-block {
		padding: 30px 17px 30px 0px;
	}
	&__circle {
		flex: 0 0 102px;
		width: 102px;
		height: 102px;
		box-shadow: inset -4px 1px 9px rgba(0, 0, 0, 0.25);
		background-color: #407bff;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: -51px;
		span {
			color: #ffffff;
			font-size: 34px;
			font-weight: 700;
			padding-left: 30px;
		}
		@include sm-block {
			width: 73px;
			height: 73px;
			flex: 0 0 73px;
			margin-left: -31.5px;
			span {
				font-size: 24px;
			}
		}
	}
	&__body {
		padding-left: 30px;
		@include sm-block {
			padding-left: 22px;
		}
	}
	&__title {
		margin-bottom: 8px;
		color: #222222;
		font-size: 22px;
		font-weight: 700;
		@include sm-block {
			font-size: 15.68px;
			margin-bottom: 6.8px;
		}
	}
	&__text {
		color: #222222;
		font-size: 16px;
		font-weight: 400;
		@include sm-block {
			font-size: 11.4px;
		}
	}
}
.tradingview-widget-container {
	// padding-left: 30px;
	width: 100%;
	max-width: 542px;
}

.schedule {
	&__title {
		margin-bottom: 20px;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
		color: #000000;
		font-size: 20px;
		font-weight: 700;
		@include sm-block {
			font-size: 14px;
		}
		span {
			padding: 0 8px;
		}
	}
}
.bitcoin-currency {
	&:before {
		background: url("../img/02.svg") 0 0 no-repeat;
	}
}
.uds-currency {
	&:before {
		background: url("../img/01.svg") 0 0 no-repeat;
	}
}
.currency {
	position: relative;
	padding-left: 30px;
	@include sm-block {
		padding-left: 16px;
	}
	&:before {
		content: "";
		display: block;
		position: absolute;
		width: 25px;
		height: 25px;
		left: 0;
		@include sm-block {
			width: 14px;
			height: 14px;
			background-size: contain;
		}
	}
}
//

.schedule {
	background: #ffffff;
	border: 1px solid #d0d0d0;
	box-sizing: border-box;
	box-shadow: 10px 12px 9.40171px rgba(150, 182, 255, 0.2);
	border-radius: 8px;
	margin-left: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	@include size(7);
	@include lg-block {
		@include size(10);
		padding: 20px;
		margin: 0;
	}
	@include md-block {
		@include size(12);
	}
	@include sm-block {
		@include size(12);
		padding: 20px 10px;
	}
}

// Why
.why {
	background-color: #f7f8fa;
	padding-top: 69px;
	padding-bottom: 73px;
	@include md-block {
		padding: 50px 0;
	}
	&__title {
		max-width: 500px;
		margin: 0 auto;
		margin-bottom: 70px;
		color: #000000;
		text-align: center;
		@include md-block {
			margin-bottom: 40px;
		}
	}
	&__body {
	}
	&__column {
		@include size(4);
		justify-content: center;
		align-items: center;
		text-align: center;
		@include md-block {
			@include size(12);
			margin-bottom: 32px;
		}
	}
	&__img {
		height: 100px;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-bottom: 39px;
	}
	&__lable {
		color: #000000;
		font-size: 18px;
		font-weight: 400;
	}
}

// Customers
.customers {
	padding-top: 60px;
	padding-bottom: 70px;
	@include sm-block {
		padding: 50px 0;
	}
	&__title {
		margin-bottom: 51px;
		text-align: center;
	}
	&__body {
		display: flex;
		align-items: stretch;
		justify-content: space-around;
		@include lg-block {
			flex-wrap: wrap;
		}
	}
	&__column {
		box-shadow: 10px 12px 9px rgba(150, 182, 255, 0.2);
		border-radius: 8px;
		background-color: #fcfcfc;
		padding: 44px 20px 20px 20px;
		text-align: center;
		width: 300px;
		margin: 0 15px;
		@include lg-block {
			margin-bottom: 50px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	&__img {
		margin-bottom: 16px;
		img {
			width: 75px;
			height: 75px;
			border-radius: 50%;
		}
	}
	&__name {
		margin-bottom: 18px;
		color: #222222;
		font-size: 20px;
		font-weight: 700;
	}
	&__text {
		color: #7d7d7d;
		font-size: 16px;
		line-height: 22px;
		font-weight: 400;
	}
}

// Anytime
.anytime {
	background: linear-gradient(180deg, #2229b5 0%, #161c8e 100%);
	padding: 95px 0;
	@include md-block {
		padding-top: 50px;
		padding-bottom: 35px;
	}
	&__body {
		display: flex;
		align-items: center;
		justify-content: space-around;
		@include lg-block {
			text-align: center;
			flex-direction: column;
		}
	}
	&__title {
		color: #fff;
		max-width: 595px;
		span {
			display: block;
		}
		@include lg-block {
			margin-bottom: 30px;
		}
	}
	&__btn {
		padding-left: 30px;
		@include lg-block {
			padding-left: 0;
		}
	}
}

footer {
	height: 70px;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 15px 37px;
	@include sm-block {
		height: auto;
	}
}

// @media screen and (max-width: 30rem) {
// 	.banner {
// 		background-position: 12%;
// 	}
// }
// @media screen and (max-width: 26rem) {
// 	.banner {
// 		background-position: 33%;
// 	}
// }

.offer {
	&__title {
		font-weight: 700;
		font-size: 18px;
		color: #fff;
		margin-bottom: 3px;
		@include sm-block {
			font-size: 16px;
		}
	}
	&__subtitle {
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 20px;
		color: #fff;
		@include sm-block {
			font-size: 14px;
			margin-bottom: 10px;
		}
	}
}
.offer-parent {
	&__label {
		margin-bottom: 10px;
		font-size: 12px;
		color: #fff;
	}
}
